.about-page {
  height: 100%;
}
.about-page aside img {
  width: 60%;
  max-width: 250px;
  height: auto;
  border-radius: 50%; /* Optional: Make it circular for a nice aesthetic */
  padding: 5px;
  margin: 0 auto; /* Center the image */
  object-fit: cover;
}
.about-page .about-title {
  font-weight: normal;
}
.about-page section.column {
  position: relative;
  z-index: 10;
}
.about-page article a {
  color: #0070f3;
  text-decoration: underline;
}
.about-page article a:hover {
  color: #0050c0;
}